## ðŸ“Š Data Structures

> Pandas provides two primary data structures for handling data efficiently:

- **Series** â€“ A one-dimensional labeled array.
- **DataFrame** â€“ A two-dimensional labeled table (rows and columns).

In [2]:
import pandas as pd
import numpy as np

### Series

- It is an one-dimensional labeled array 
- Each value has an index (label)

In [3]:
# Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print("Series:", s)

Series: 0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
# Naming the series

s.name = "numbers"
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
Name: numbers, dtype: float64

##### Numpy Arrary

- A NumPy array is the core data structure of the NumPy library in Python.
- It's like a supercharged list, built for fast numerical computing.

In [5]:
s.to_numpy()

array([ 1.,  3.,  5., nan,  6.,  8.])

## DataFrame

- A **DataFrame** is like a table in Python. It has rows and columns. In general the most commonly used pandas is an object. 
- DataFrame accepts many different kinds of input:

    - Dict of 1D ndarrays, lists, dicts, or Series

     - 2-D numpy.ndarray

     - Structured or record ndarray

     - A Series

     - Another DataFrame

In [6]:
dataframe = pd.DataFrame({
    "A": 1.0,
    "B": pd.Timestamp("20230102"),
    "C": pd.Series(1, index=list(range(4)), dtype="float32"),
    "D": np.array([3] * 4, dtype="int32"),
    "E": pd.Categorical(["test", "train", "test", "train"]),
    "F": "foo",
})
dataframe

     A          B    C  D      E    F
0  1.0 2023-01-02  1.0  3   test  foo
1  1.0 2023-01-02  1.0  3  train  foo
2  1.0 2023-01-02  1.0  3   test  foo
3  1.0 2023-01-02  1.0  3  train  foo

In [7]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      datetime64[s]
 2   C       4 non-null      float32
 3   D       4 non-null      int32
 4   E       4 non-null      category
 5   F       4 non-null      object
dtypes: category(1), datetime64[s](1), float32(1), float64(1), int32(1), object(1)
memory usage: 288.0+ bytes

## Assign

- It add new columns to a DataFrame. It returns a new DataFrame with the added columns, without modifying the original one.

In [8]:
dataframe.assign(D_multi=dataframe["D"] + dataframe["A"])

     A          B    C  D      E    F  D_multi
0  1.0 2023-01-02  1.0  3   test  foo      4.0
1  1.0 2023-01-02  1.0  3  train  foo      4.0
2  1.0 2023-01-02  1.0  3   test  foo      4.0
3  1.0 2023-01-02  1.0  3  train  foo      4.0