## ðŸ“Š Data Structures

> Pandas provides two primary data structures for handling data efficiently:

- **Series** â€“ A one-dimensional labeled array.
- **DataFrame** â€“ A two-dimensional labeled table (rows and columns).

In [39]:
import pandas as pd
import numpy as np

### Series

- It is an one-dimensional labeled array 
- Each value has an index (label)

In [40]:
# Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print("Series:", s)

Series: 0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [41]:
# Naming the series

s.name = "numbers"
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
Name: numbers, dtype: float64

##### Numpy Arrary

- A NumPy array is the core data structure of the NumPy library in Python.
- It's like a supercharged list, built for fast numerical computing.

In [42]:
s.to_numpy()

array([ 1.,  3.,  5., nan,  6.,  8.])

## DataFrame

- A **DataFrame** is like a table in Python. It has rows and columns. In general the most commonly used pandas is an object. 
- DataFrame accepts many different kinds of input:

    - Dict of 1D ndarrays, lists, dicts, or Series

     - 2-D numpy.ndarray

     - Structured or record ndarray

     - A Series

     - Another DataFrame

In [43]:
dataframe = pd.DataFrame({
    "A": 1.0,
    "B": pd.Timestamp("20230102"),
    "C": pd.Series(1, index=list(range(4)), dtype="float32"),
    "D": np.array([3] * 4, dtype="int32"),
    "E": pd.Categorical(["test", "train", "test", "train"]),
    "F": "foo",
})
dataframe

     A          B    C  D      E    F
0  1.0 2023-01-02  1.0  3   test  foo
1  1.0 2023-01-02  1.0  3  train  foo
2  1.0 2023-01-02  1.0  3   test  foo
3  1.0 2023-01-02  1.0  3  train  foo

In [44]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      datetime64[s]
 2   C       4 non-null      float32
 3   D       4 non-null      int32
 4   E       4 non-null      category
 5   F       4 non-null      object
dtypes: category(1), datetime64[s](1), float32(1), float64(1), int32(1), object(1)
memory usage: 288.0+ bytes

## Assign

- It add new columns to a DataFrame. It returns a new DataFrame with the added columns, without modifying the original one.

In [45]:
dataframe.assign(D_multi=dataframe["D"] + dataframe["A"])

     A          B    C  D      E    F  D_multi
0  1.0 2023-01-02  1.0  3   test  foo      4.0
1  1.0 2023-01-02  1.0  3  train  foo      4.0
2  1.0 2023-01-02  1.0  3   test  foo      4.0
3  1.0 2023-01-02  1.0  3  train  foo      4.0

## Indexing and Selection

| Operation                        | Syntax           | Result     | 
|----------------------------------|------------------|------------|
| Select column                    | `df[col]`        | Series     |
| Select row by label             | `df.loc[label]`  | Series     |
| Select row by integer location | `df.iloc[loc]`   | Series     |
| Slice rows                       | `df[5:10]`       | DataFrame  |
| Select rows by boolean vector   | `df[bool_vec]`   | DataFrame  |

In [46]:
df_index = pd.DataFrame({
    "A" : np.random.random_sample(7),
    "B" : np.random.random_sample(7),
    "C" : np.random.random_sample(7),
    "D" : np.random.random_sample(7),
    "E" : np.random.random_sample(7),
    })

df_index

          A         B         C         D         E
0  0.631736  0.522780  0.135615  0.597465  0.596266
1  0.294680  0.642011  0.557176  0.459007  0.279157
2  0.885555  0.633774  0.394765  0.283454  0.464149
3  0.790824  0.820036  0.692907  0.419353  0.360774
4  0.182551  0.030312  0.632385  0.711548  0.761252
5  0.062738  0.735882  0.611262  0.155112  0.903812
6  0.548767  0.943096  0.842057  0.199563  0.530349

In [47]:
# Series (single column)
df_index['A']

0    0.631736
1    0.294680
2    0.885555
3    0.790824
4    0.182551
5    0.062738
6    0.548767
Name: A, dtype: float64

In [48]:
# Series (single row)
df_index.iloc[0]

A    0.631736
B    0.522780
C    0.135615
D    0.597465
E    0.596266
Name: 0, dtype: float64

In [49]:
# DataFrame (multiple rows)
df_index.iloc[0:3]

          A         B         C         D         E
0  0.631736  0.522780  0.135615  0.597465  0.596266
1  0.294680  0.642011  0.557176  0.459007  0.279157
2  0.885555  0.633774  0.394765  0.283454  0.464149

In [50]:
df_index[0:3]

          A         B         C         D         E
0  0.631736  0.522780  0.135615  0.597465  0.596266
1  0.294680  0.642011  0.557176  0.459007  0.279157
2  0.885555  0.633774  0.394765  0.283454  0.464149

In [51]:
# DataFrame (filtered rows)
df_index[df_index['A'] > 0.9]

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

In [ ]:
# Create a copy and add values
df_index_copy = df_index.copy()
df_index_copy.loc[:0, ['A', 'B']] = 0.1
df_index_copy

          A         B         C         D         E
0  0.100000  0.100000  0.135615  0.597465  0.596266
1  0.294680  0.642011  0.557176  0.459007  0.279157
2  0.885555  0.633774  0.394765  0.283454  0.464149
3  0.790824  0.820036  0.692907  0.419353  0.360774
4  0.182551  0.030312  0.632385  0.711548  0.761252
5  0.062738  0.735882  0.611262  0.155112  0.903812
6  0.548767  0.943096  0.842057  0.199563  0.530349