##  ðŸ“š Essential Basic Functionality

> Pandas is a foundational library in Python for working with structured data. It provides fast, flexible, and expressive tools designed to make data analysis and manipulation easy and intuitive. There are several essential functionalities that are fundamental to using Pandas effectively.

In [1]:
import pandas as pd
import numpy as np

### Head and tail

- Head shows the first 5 rows by default.
- Tail shows the last 5 rows by default.

In [2]:
long_series = pd.Series(np.random.randn(10))
long_series

0   -0.111094
1   -0.135703
2    0.794465
3   -0.419149
4   -2.262522
5   -0.002929
6    0.173261
7   -0.105084
8   -0.395579
9   -0.744798
dtype: float64

In [3]:
# Head
long_series.head()

0   -0.111094
1   -0.135703
2    0.794465
3   -0.419149
4   -2.262522
dtype: float64

In [4]:
# Tail
long_series.tail()

5   -0.002929
6    0.173261
7   -0.105084
8   -0.395579
9   -0.744798
dtype: float64

### Attributes and underlying data

- shape: gives the axis dimensions of the object, consistent with ndarray
- Axis labels:
    - Series: index (only axis)
    - DataFrame: index and columns

In [5]:
index = pd.date_range('20230101', periods=10)
df = pd.DataFrame(np.random.randn(10, 4), index=index, columns=list ('ABCD'))
df

                   A         B         C         D
2023-01-01 -0.595993  0.027336 -0.390910  0.604354
2023-01-02  1.563279 -1.002114  0.971279 -1.276263
2023-01-03  0.741300  1.465205  0.678902 -0.670430
2023-01-04 -3.653907 -0.938223  0.956775  1.742071
2023-01-05 -0.124229  0.462787  1.210067 -0.897226
2023-01-06  1.779417  0.893103  0.032180  0.848424
2023-01-07  0.868417  0.701167 -0.666603  1.790121
2023-01-08 -0.091303  0.110001  0.923260 -0.943237
2023-01-09  0.182605 -0.308549  0.167944 -0.213461
2023-01-10 -1.018045 -1.073141 -0.237669 -0.471691

In [6]:
df.columns = [x.lower() for x in df.columns]
df

                   a         b         c         d
2023-01-01 -0.595993  0.027336 -0.390910  0.604354
2023-01-02  1.563279 -1.002114  0.971279 -1.276263
2023-01-03  0.741300  1.465205  0.678902 -0.670430
2023-01-04 -3.653907 -0.938223  0.956775  1.742071
2023-01-05 -0.124229  0.462787  1.210067 -0.897226
2023-01-06  1.779417  0.893103  0.032180  0.848424
2023-01-07  0.868417  0.701167 -0.666603  1.790121
2023-01-08 -0.091303  0.110001  0.923260 -0.943237
2023-01-09  0.182605 -0.308549  0.167944 -0.213461
2023-01-10 -1.018045 -1.073141 -0.237669 -0.471691

#### Numpy

- It is a reliable and consistent method to convert pandas objects to NumPy arrays, offering better control over data types and compatibility with extension types compared other methods.

In [9]:
df_numpy = df.to_numpy()
df_numpy

array([[-0.59599323,  0.02733592, -0.39090975,  0.60435389],
       [ 1.56327937, -1.00211374,  0.97127924, -1.27626291],
       [ 0.74129966,  1.46520459,  0.67890183, -0.67043006],
       [-3.65390662, -0.93822291,  0.95677467,  1.74207076],
       [-0.12422869,  0.46278685,  1.21006661, -0.89722618],
       [ 1.77941706,  0.89310274,  0.03218037,  0.84842376],
       [ 0.86841676,  0.70116723, -0.66660264,  1.79012093],
       [-0.09130294,  0.11000085,  0.92326015, -0.9432368 ],
       [ 0.18260485, -0.3085487 ,  0.16794362, -0.21346141],
       [-1.0180445 , -1.07314075, -0.23766888, -0.47169149]])