##  ðŸ“š Essential Basic Functionality

> Pandas is a foundational library in Python for working with structured data. It provides fast, flexible, and expressive tools designed to make data analysis and manipulation easy and intuitive. There are several essential functionalities that are fundamental to using Pandas effectively.

In [1]:
import pandas as pd
import numpy as np

### Head and tail

- Head shows the first 5 rows by default.
- Tail shows the last 5 rows by default.

In [2]:
long_series = pd.Series(np.random.randn(10))
long_series

0    0.457451
1    1.041807
2    0.346955
3    1.410169
4   -0.807140
5   -1.199769
6   -1.707464
7    0.738481
8    1.157706
9   -0.781473
dtype: float64

In [3]:
# Head
long_series.head()

0    0.457451
1    1.041807
2    0.346955
3    1.410169
4   -0.807140
dtype: float64

In [4]:
# Tail
long_series.tail()

5   -1.199769
6   -1.707464
7    0.738481
8    1.157706
9   -0.781473
dtype: float64

### Attributes and underlying data

- shape: gives the axis dimensions of the object, consistent with ndarray
- Axis labels:
    - Series: index (only axis)
    - DataFrame: index and columns

In [5]:
index = pd.date_range('20230101', periods=10)
df = pd.DataFrame(np.random.randn(10, 4), index=index, columns=list ('ABCD'))
df

                   A         B         C         D
2023-01-01 -0.943446 -0.684091  0.558872 -0.953177
2023-01-02 -0.344004  0.336120  0.449725 -2.250021
2023-01-03 -0.475110  0.451140  0.353512  1.049617
2023-01-04  0.826501 -0.470968  0.820331 -0.350674
2023-01-05 -0.738317 -0.505578 -0.364062  1.541246
2023-01-06 -1.229721 -2.534368  1.067140  0.825049
2023-01-07 -0.604910 -1.926521 -1.687104  0.132154
2023-01-08  2.072422 -0.623032  2.009784 -0.305512
2023-01-09 -0.503809  0.244900  0.242140 -2.048666
2023-01-10  0.236434 -0.263866  0.505353 -0.022633

In [6]:
df.columns = [x.lower() for x in df.columns]
df

                   a         b         c         d
2023-01-01 -0.943446 -0.684091  0.558872 -0.953177
2023-01-02 -0.344004  0.336120  0.449725 -2.250021
2023-01-03 -0.475110  0.451140  0.353512  1.049617
2023-01-04  0.826501 -0.470968  0.820331 -0.350674
2023-01-05 -0.738317 -0.505578 -0.364062  1.541246
2023-01-06 -1.229721 -2.534368  1.067140  0.825049
2023-01-07 -0.604910 -1.926521 -1.687104  0.132154
2023-01-08  2.072422 -0.623032  2.009784 -0.305512
2023-01-09 -0.503809  0.244900  0.242140 -2.048666
2023-01-10  0.236434 -0.263866  0.505353 -0.022633